<!DOCTYPE html>
<html lang="en" data-footer="true" data-override='{"attributes": {"placement": "vertical", "layout": "boxed" }, "storagePrefix": "ecommerce-platform"}'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>@ViewBag.title</title>
    <meta name="description" content="Ecommerce Dashboard">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Assets/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/Assets/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Assets/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Assets/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Assets/img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" href="~/Assets/Student/img/favicon.png">
    <meta name="application-name" content="&nbsp;">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/Assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="~/Assets/img/favicon/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="~/Assets/img/favicon/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="~/Assets/img/favicon/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="~/Assets/img/favicon/mstile-310x310.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/Assets/css/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="~/Assets/css/css2-1?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/font/CS-Interface/style.css">
    <link rel="stylesheet" href="~/Assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/vendor/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Assets/css/styles.css">
    <link rel="stylesheet" href="~/Assets/css/main.css">
    <script src="~/Assets/js/base/loader.js"></script>
    <script src="~/Assets/js/ListJS/list.min.js"></script> @*List js*@
    <script src="~/Assets/js/vendor/jquery-3.5.1.min.js"></script> @*jquery*@
    <!-- #region Thư viện tiny để định dạng nội dung -->
    @*<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>*@
    <style>
        .tox-notification {
            display: none !important;
        }

        .tox .tox-statusbar {
            display: none
        }
    </style>
    <script>
        tinymce.init({ selector: 'textarea' });
    </script>
    <!-- #endregion -->

</head>
<body>
    <div id="root">
        <div id="nav" class="nav-container d-flex">
            <div class="nav-content d-flex">
                <div class="logo position-relative">
                    <a href="Dashboard-1.html">
                        <div class="img"></div>
                    </a>
                </div>
                <div class="user-container d-flex">
                    <a href="#" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="profile" alt="profile" src="~/Assets/img/logo/iconEmployee.jpg">
                        @*@if (Session["TaiKhoanAdmin"] == null)
                        {
                            <div class="name">YC Đăng Nhập</div>
                        }
                        else
                        {
                            NhanVien nv = (NhanVien)Session["TaiKhoanAdmin"];
                            <div class="name">@nv.TenNhanVien</div>
                        }*@
                        <div class="name">Khách</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end user-menu wide">
                        <div class="row mb-3 ms-0 me-0">
                            <div class="col-12 ps-1 mb-2">
                                <div class="text-extra-small text-primary">Điều Hướng</div>
                            </div>
                            <div class="col-12 ps-1 pe-1">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/Admin/Home/Index" target="_blank">NV Phòng Giáo Dục</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 ps-1 pe-1">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/Admissions/Home/Index" target="_blank">NV Bộ Phận Tuyển Sinh</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 ps-1 pe-1">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/Student/Home/Index" target="_blank">Học Sinh</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-1 ms-0 me-0">
                            <div class="col-12 p-1 mb-3 pt-3">
                                <div class="separator-light">Thông Tin Khác</div>
                            </div>
                            @if (Session["TaiKhoanAdmin"] == null)
                            {
                                <div class="col-12 ps-1 pe-1">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="/Admissions/DangNhap/DangNhap">
                                                <i data-cs-icon="user" class="me-2" data-cs-size="17"></i>
                                                <span class="align-middle">Đăng Nhập</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            }
                            else
                            {
                               // NhanVien nv = (NhanVien)Session["TaiKhoanAdmin"];
                                <div class="col-12 ps-1 pe-1">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">
                                                <i data-cs-icon="user" class="me-2" data-cs-size="17"></i>
                                                <span class="align-middle">Cập Nhật Thông Tin</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 pe-1 ps-1">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="/Admissions/DangNhap/DangXuatAdmin">
                                                <i data-cs-icon="logout" class="me-2" data-cs-size="17"></i>
                                                <span class="align-middle">Đăng Xuất</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled list-inline text-center menu-icons">
                    <li class="list-inline-item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#searchPagesModal">
                            <i data-cs-icon="search" data-cs-size="18"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" id="pinButton" class="pin-button">
                            <i data-cs-icon="lock-on" class="unpin" data-cs-size="18"></i>
                            <i data-cs-icon="lock-off" class="pin" data-cs-size="18"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" id="colorButton">
                            <i data-cs-icon="light-on" class="light" data-cs-size="18"></i>
                            <i data-cs-icon="light-off" class="dark" data-cs-size="18"></i>
                        </a>
                    </li>
                    <!-- #region Thông báo -->
                    <li class="list-inline-item">
                        <a href="#" data-bs-toggle="dropdown" data-bs-target="#notifications" aria-haspopup="true" aria-expanded="false" class="notification-button">
                            <div class="position-relative d-inline-flex">
                                <i data-cs-icon="bell" data-cs-size="18"></i>
                                <span class="position-absolute notification-dot rounded-xl"></span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end wide notification-dropdown scroll-out" id="notifications">
                            <div class="scroll">
                                <ul class="list-unstyled border-last-none">
                                    <li class="mb-3 pb-3 border-bottom border-separator-light d-flex">
                                        <img src="~/Assets/img/logo/iconThongBao.jpg" class="me-3 sw-4 sh-4 rounded-xl align-self-center" alt="...">
                                        <div class="align-self-center">
                                            <a href="#">Thông Báo Mẫu 1</a>
                                        </div>
                                    </li>
                                    <li class="mb-3 pb-3 border-bottom border-separator-light d-flex">
                                        <img src="~/Assets/img/logo/iconThongBao.jpg" class="me-3 sw-4 sh-4 rounded-xl align-self-center" alt="...">
                                        <div class="align-self-center">
                                            <a href="#">Thông Báo Mẫu 2</a>
                                        </div>
                                    </li>
                                    <li class="mb-3 pb-3 border-bottom border-separator-light d-flex">
                                        <img src="~/Assets/img/logo/iconThongBao.jpg" class="me-3 sw-4 sh-4 rounded-xl align-self-center" alt="...">
                                        <div class="align-self-center">
                                            <a href="#">Thông Báo Mẫu 3</a>
                                        </div>
                                    </li>
                                    <li class="pb-3 pb-3 border-bottom border-separator-light d-flex">
                                        <img src="~/Assets/img/logo/iconThongBao.jpg" class="me-3 sw-4 sh-4 rounded-xl align-self-center" alt="...">
                                        <div class="align-self-center">
                                            <a href="#">Thông Báo Mẫu 4</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- #endregion -->
                </ul>
                <div class="menu-container flex-grow-1">
                    @if (Session["TaiKhoanAdmin"] == null)
                    {
                        <ul id="menu" class="menu">
                            <li>
                                <a href="/Admissions/DangNhap/DangNhap">
                                    <i data-cs-icon="user" class="icon" data-cs-size="18"></i>
                                    <span class="label">Đăng Nhập</span>
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        //NhanVien nv = (NhanVien)Session["TaiKhoanAdmin"];
                        <ul id="menu" class="menu">
                            <li>
                                <a href="/Admin/Home/Index">
                                    <i data-cs-icon="shop" class="icon" data-cs-size="18"></i>
                                    <span class="label">Trang Chủ</span>
                                </a>
                            </li>
                            <li>
                                <a href="#products" data-href="Products.html">
                                    <i data-cs-icon="screen" class="icon" data-cs-size="18"></i>
                                    <span class="label">Trường Học</span>
                                </a>
                                <ul id="products">
                                    <li>
                                        <a href="/Admin/THCS/DanhSachTHCS">
                                            <span class="label">THCS</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/THPT/DanhSachTHPT">
                                            <span class="label">THPT</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#customers" data-href="Customers.html">
                                    <i data-cs-icon="user" class="icon" data-cs-size="18"></i>
                                    <span class="label">Học Sinh</span>
                                </a>
                                <ul id="customers">
                                    <li>
                                        <a href="/Admin/HocSinh/DanhSachHocSinh">
                                            <span class="label">Danh Sách Học Sinh (All)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/HocSinh/DanhSachHocSinhTheoNam">
                                            <span class="label">Học Sinh Mới (@DateTime.Now.Year)</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#orders" data-href="Orders.html">
                                    <i data-cs-icon="user" class="icon" data-cs-size="18"></i>
                                    <span class="label">Tài Khoản</span>
                                </a>
                                <ul id="orders">
                                    <li>
                                        <a href="/Admin/TaiKhoan/NhanVienAdmin">
                                            <span class="label">Admin (Phòng GD&DT)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/TaiKhoan/NhanVienTuyenSinh">
                                            <span class="label">Nhân Viên Các Trường</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li style="display:none">
                                <a href="#storefront" data-href="Storefront.html">
                                    <i data-cs-icon="screen" class="icon" data-cs-size="18"></i>
                                    <span class="label">Bình Luận</span>
                                </a>
                                <ul id="storefront">
                                    <li>
                                        <a href="Storefront.Home.html">
                                            <span class="label">Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Storefront.Filters.html">
                                            <span class="label">Filters</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Storefront.Categories.html">
                                            <span class="label">Categories</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Storefront.Detail.html">
                                            <span class="label">Detail</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Storefront.Cart.html">
                                            <span class="label">Cart</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Storefront.Checkout.html">
                                            <span class="label">Checkout</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Storefront.Invoice.html">
                                            <span class="label">Invoice</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/Admin/BaiViet/DanhSachBaiViet">
                                    <i data-cs-icon="tag" class="icon" data-cs-size="18"></i>
                                    <span class="label">Bài Viết</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/ThoiGianThi/ListThoiGianThi">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-calendar text-white"><path d="M14.5 4C15.9045 4 16.6067 4 17.1111 4.33706C17.3295 4.48298 17.517 4.67048 17.6629 4.88886C18 5.39331 18 6.09554 18 7.5L18 14.5C18 15.9045 18 16.6067 17.6629 17.1111C17.517 17.3295 17.3295 17.517 17.1111 17.6629C16.6067 18 15.9045 18 14.5 18L5.5 18C4.09554 18 3.39331 18 2.88886 17.6629C2.67048 17.517 2.48298 17.3295 2.33706 17.1111C2 16.6067 2 15.9045 2 14.5L2 7.5C2 6.09554 2 5.39331 2.33706 4.88886C2.48298 4.67048 2.67048 4.48298 2.88886 4.33706C3.39331 4 4.09554 4 5.5 4L14.5 4Z"></path><path d="M2 9H18M7 2 7 5.5M13 2 13 5.5M5 15H6"></path></svg>
                                    <span class="label">Thời Gian Thi</span>
                                </a>
                            </li>
                        </ul>
                    }
                </div>
                <div class="mobile-buttons-container">
                    <a href="#" id="mobileMenuButton" class="menu-button">
                        <i data-cs-icon="menu"></i>
                    </a>
                </div>
            </div>
            <div class="nav-shadow"></div>
        </div>
        <main>
            @RenderBody()
        </main>
    </div>
    <!-- #region Màu Sắc -->
    <div class="modal fade modal-right scroll-out-negative" id="settings" data-bs-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tinh Chỉnh</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="scroll-track-visible">
                        <div class="mb-5" id="color">
                            <label class="mb-3 d-inline-block form-label">Màu</label>
                            <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-blue" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="blue-light"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">LIGHT BLUE</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-blue" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="blue-dark"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">DARK BLUE</span>
                                    </div>
                                </a>
                            </div>
                            <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-green" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="green-light"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">LIGHT GREEN</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-green" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="green-dark"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">DARK GREEN</span>
                                    </div>
                                </a>
                            </div>
                            <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-pink" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="pink-light"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">LIGHT PINK</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-pink" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="pink-dark"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">DARK PINK</span>
                                    </div>
                                </a>
                            </div>
                            <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-purple" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="purple-light"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">LIGHT PURPLE</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-purple" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="purple-dark"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">DARK PURPLE</span>
                                    </div>
                                </a>
                            </div>
                            <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-red" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="red-light"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">LIGHT RED</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-red" data-parent="color">
                                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                                        <div class="red-dark"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">DARK RED</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="mb-5" id="navcolor">
                            <label class="mb-3 d-inline-block form-label">Màu Sắc Menu</label>
                            <div class="row d-flex g-3 justify-content-between flex-wrap">
                                <a href="#" class="flex-grow-1 w-33 option col" data-value="default" data-parent="navcolor">
                                    <div class="card rounded-md p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary top"></div>
                                        <div class="figure figure-secondary bottom"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">DEFAULT</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-33 option col" data-value="light" data-parent="navcolor">
                                    <div class="card rounded-md p-3 mb-1 no-shadow">
                                        <div class="figure figure-secondary figure-light top"></div>
                                        <div class="figure figure-secondary bottom"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">LIGHT</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-33 option col" data-value="dark" data-parent="navcolor">
                                    <div class="card rounded-md p-3 mb-1 no-shadow">
                                        <div class="figure figure-muted figure-dark top"></div>
                                        <div class="figure figure-secondary bottom"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">DARK</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="mb-5" id="behaviour">
                            <label class="mb-3 d-inline-block form-label">Loại Menu</label>
                            <div class="row d-flex g-3 justify-content-between flex-wrap">
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="pinned" data-parent="behaviour">
                                    <div class="card rounded-md p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary left large"></div>
                                        <div class="figure figure-secondary right small"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">Mặc Định</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="unpinned" data-parent="behaviour">
                                    <div class="card rounded-md p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary left"></div>
                                        <div class="figure figure-secondary right"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">Ẩn</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="mb-5" id="layout">
                            <label class="mb-3 d-inline-block form-label">Bố Cục</label>
                            <div class="row d-flex g-3 justify-content-between flex-wrap">
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="fluid" data-parent="layout">
                                    <div class="card rounded-md p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary top"></div>
                                        <div class="figure figure-secondary bottom"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">FLUID</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-50 option col" data-value="boxed" data-parent="layout">
                                    <div class="card rounded-md p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary top"></div>
                                        <div class="figure figure-secondary bottom small"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">BOXED</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="mb-5" id="radius">
                            <label class="mb-3 d-inline-block form-label">Bo Tròn Các Thẻ</label>
                            <div class="row d-flex g-3 justify-content-between flex-wrap">
                                <a href="#" class="flex-grow-1 w-33 option col" data-value="rounded" data-parent="radius">
                                    <div class="card rounded-md radius-rounded p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary top"></div>
                                        <div class="figure figure-secondary bottom"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">ROUNDED</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-33 option col" data-value="standard" data-parent="radius">
                                    <div class="card rounded-md radius-regular p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary top"></div>
                                        <div class="figure figure-secondary bottom"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">STANDARD</span>
                                    </div>
                                </a>
                                <a href="#" class="flex-grow-1 w-33 option col" data-value="flat" data-parent="radius">
                                    <div class="card rounded-md radius-flat p-3 mb-1 no-shadow">
                                        <div class="figure figure-primary top"></div>
                                        <div class="figure figure-secondary bottom"></div>
                                    </div>
                                    <div class="text-muted text-part">
                                        <span class="text-extra-small align-middle">FLAT</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="settings-buttons-container">
        <button type="button" class="btn settings-button btn-primary p-0" data-bs-toggle="modal" data-bs-target="#settings" id="settingsButton">
            <span class="d-inline-block no-delay" data-bs-delay="0" data-bs-offset="0,3" data-bs-toggle="tooltip" data-bs-placement="left" title="Tùy Chỉnh Giao Diện">
                <i data-cs-icon="paint-roller" class="position-relative"></i>
            </span>
        </button>
    </div>
    <div class="modal fade modal-under-nav modal-search modal-close-out" id="searchPagesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0 p-0">
                    <button type="button" class="btn-close btn btn-icon btn-icon-only btn-foreground" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ps-5 pe-5 pb-0 border-0">
                    @* <input id="searchPagesInput" class="form-control form-control-xl borderless ps-0 pe-0 mb-1 auto-complete" type="text" autocomplete="off">*@
                    <input class="form-control form-control-xl  borderless ps-0 pe-0 mb-1 auto-complete" placeholder="Tìm Kiếm" />
                </div>
                <div class="modal-footer border-top justify-content-start ps-5 pe-5 pb-3 pt-3 border-0">
                    <span class="text-alternate d-inline-block m-0 me-3">
                        <span class="align-middle text-medium">Nhập Từ Khóa Cần Tìm Kiếm</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <script src="~/Assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/Assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/vendor/OverlayScrollbars.min.js"></script>
    <script src="~/Assets/js/vendor/autoComplete.min.js"></script>
    <script src="~/Assets/js/vendor/clamp.min.js"></script>
    <script src="~/Assets/js/vendor/Chart.bundle.min.js"></script>
    <script src="~/Assets/js/vendor/chartjs-plugin-rounded-bar.min.js"></script>
    <script src="~/Assets/js/vendor/jquery.barrating.min.js"></script>
    <script src="~/Assets/font/CS-Line/csicons.min.js"></script>
    <script src="~/Assets/js/base/helpers.js"></script>
    <script src="~/Assets/js/base/globals.js"></script>
    <script src="~/Assets/js/base/nav.js"></script>
    <script src="~/Assets/js/base/search.js"></script>
    <script src="~/Assets/js/base/settings.js"></script>
    <script src="~/Assets/js/base/init.js"></script>
    <script src="~/Assets/js/cs/charts.extend.js"></script>
    <script src="~/Assets/js/pages/dashboard.js"></script>
    <script src="~/Assets/js/common.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
</body>
</html>